<form (ngSubmit)="confirm()" [formGroup]="form" novalidate class="form-group">
  <div class="row mb-2">
    <label class="col-md-4 col-form-label" for="firstNameId"> Name</label>
    <div class="col-md-8">
      <input
        class="form-control"
        id="firstNameId1"
        type="text"
        placeholder="First Name (required)"
        required
        minlength="3"
        formControlName="nome"
        [ngClass]="{
          'is-invalid':
            (form.get('nome')?.touched || form.get('nome')?.dirty) &&
            !form.get('nome')?.valid
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="form.get('nome')?.errors?.required">
          Please enter your first name.
        </span>
        <span *ngIf="form.get('nome')?.errors?.minlength">
          The first name must be longer than 3 characters.
        </span>
      </span>
    </div>
  </div>
  <div class="form-group row mb-2">
    <label class="col-md-4 col-form-label" for="firstNameId">Cognome</label>
    <div class="col-md-8">
      <input
        class="form-control"
        id="firstNameId2"
        type="text"
        placeholder="Cognome (required)"
        required
        minlength="3"
        formControlName="cognome"
        [ngClass]="{
          'is-invalid':
            (form.get('cognome')?.touched || form.get('cognome')?.dirty) &&
            !form.get('cognome')?.valid
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="form.get('cognome')?.errors?.required">
          Please enter your first name.
        </span>
        <span *ngIf="form.get('cognome')?.errors?.minlength">
          The first name must be longer than 3 characters.
        </span>
      </span>
    </div>
  </div>
  <div class="form-group row mb-2">
    <label class="col-md-4 col-form-label" for="firstNameId">Punteggio</label>
    <div class="col-md-8">
      <input
        class="form-control"
        id="firstNameId3"
        type="text"
        placeholder="Punteggio (required)"
        required
        minlength="3"
        formControlName="punteggio"
        [ngClass]="{
          'is-invalid':
            (form.get('punteggio')?.touched || form.get('punteggio')?.dirty) &&
            !form.get('punteggio')?.valid
        }"
      />
      <span class="invalid-feedback">
        <span *ngIf="form.get('punteggio')?.errors?.required">
          Please enter your first name.
        </span>
        <span *ngIf="form.get('punteggio')?.errors?.minlength">
          The first name must be longer than 3 characters.
        </span>
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Confirm</button>
  </div>

  <div class="col-sm-4 mt-2">
    <button type="submit" routerLink="/atleti" class="btn btn-warning">
      Anulla
    </button>
  </div>
</form>
<div class="row mt-3"></div>
